<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Freckle+Face" rel="stylesheet">
    {{!--<link inline href="assets/css/main.min.css">--}}
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    {{!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>--}}
  </head>
  <body>
    

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/profile.jpg" width="48" height="48" class="rounded-circle" alt="">
      CrazyPinkWidow
    </a>
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">World of Tank Blitz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Photos</a>
      </li>
    </ul>
    </div>
  </nav>

  <div class="container mt-7">
  {{{ contents }}}
    
  </div>


  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
      <p class="is-size-6">{{ title }}</p>
      <p>{{ description }}</p>
    </div>
  </section>
  


  <footer>
    
    
    
  </footer>
  
  </body>
</html>

